body {
    margin: 0 80px;


}


.logo {
    position: absolute;
    top: 48px;
}

.first-div {
    position: absolute;
    top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 857px; */
    width: 1120px;

}

.breadcrumbs {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #030303;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.arrow {
    width: 20px;
    height: 20px;

}

.back-menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #6A6A6A;
}

.second-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    top: 226px;
}

.as-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 834px;
    height: 279px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 200px;
    isolation: isolate;
    width: 834px;
    height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#on-1 {
    position: absolute;
    width: 63px;
    height: 24px;
    left: 106px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #030303;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

#on-2 {
    position: absolute;
    width: 40px;
    height: 24px;
    left: 338px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #030303;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}

#on-3 {
    position: absolute;
    width: 70px;
    height: 24px;
    left: 535px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #030303;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

#on-4 {
    position: absolute;
    width: 41px;
    height: 24px;
    left: 762px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #030303;
    flex: none;
    order: 3;
    flex-grow: 0;
    z-index: 3;
}

.bs-second {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 262px;
    height: 279px;
    border: 1px solid #030303;
    flex: none;
    order: 1;
    flex-grow: 0;
}